.lex-section{
	margin-bottom:1.7em;
	}

.lex-slab{
	padding:0;
	padding-top:1.7em;
	}

.lex-slab-grey{
	background-color:#f1f0f0;
	}

.lex-slab-blue{
	background-color:#001A49;
	}

.lex-slab-blue,.lex-slab-blue a,.lex-slab-blue a:visited{
	color:#BFBFBF;
	}

.lex-slab-blue a:focus{
	color:#585858;
	}

.lex-slab-blue .lex-font-standout,.lex-slab-blue .lex-font-standout:visited{
	color:#FFFFFF;
	}

.lex-slab-blue .lex-section-heading.lex-font-standout{
	color:#E0B111;
	}

	
.lex-grid-full{
	max-width:1200px;
	margin:0 auto;
	padding:0 0.85em;
	}

@media screen and (min-width:1201px){
	.lex-grid-full{
	padding:0;
	}

}

.usa-grid,.usa-grid-full{
	max-width:68em;
	margin-left:auto;
	margin-right:auto;
	max-width:1040px;
	}

.lex-region-sidebar_second .lex-block{
	margin-bottom:1.7em;
	}

.lex-block.lex-block-nobottommargin{
	margin-bottom:0;
	}

.lex-region-content .lex-block .lex-section-heading.lex-heading,.lex-region-content .lex-block h2,.layout-sidebar-second .lex-block .lex-section-heading.lex-heading,.layout-sidebar-second .lex-block h2{
	font-weight:700;
	margin-top:0;
	padding-top:0;
	text-transform:none;
	}

.usa-grid,.usa-grid-full{
	max-width:68em;
	margin-left:auto;
	margin-right:auto;
	max-width:1040px;
	}

.usa-grid::after,.usa-grid-full::after{
	clear:both;
	content:"";
	display:table;
	}

@media screen and (min-width:600px){
	.usa-grid .usa-width-one-whole,.usa-grid-full .usa-width-one-whole{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:100%;
	}

.usa-grid .usa-width-one-whole:last-child,.usa-grid-full .usa-width-one-whole:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-half,.usa-grid-full .usa-width-one-half{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:47.58542%;
	}

.usa-grid .usa-width-one-half:last-child,.usa-grid-full .usa-width-one-half:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-third,.usa-grid-full .usa-width-one-third{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:30.11389%;
	}

.usa-grid .usa-width-one-third:last-child,.usa-grid-full .usa-width-one-third:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-two-thirds,.usa-grid-full .usa-width-two-thirds{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:65.05695%;
	}

.usa-grid .usa-width-two-thirds:last-child,.usa-grid-full .usa-width-two-thirds:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-fourth,.usa-grid-full .usa-width-one-fourth{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:47.58542%;
	}

.usa-grid .usa-width-one-fourth:last-child,.usa-grid-full .usa-width-one-fourth:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-fourth:nth-child(2n),.usa-grid-full .usa-width-one-fourth:nth-child(2n){
	margin-right:0;
	}

.usa-grid .usa-width-three-fourths,.usa-grid-full .usa-width-three-fourths{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:100%;
	}

.usa-grid .usa-width-three-fourths:last-child,.usa-grid-full .usa-width-three-fourths:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-sixth,.usa-grid-full .usa-width-one-sixth{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:30.11389%;
	}

.usa-grid .usa-width-one-sixth:last-child,.usa-grid-full .usa-width-one-sixth:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-sixth:nth-child(3n),.usa-grid-full .usa-width-one-sixth:nth-child(3n){
	margin-right:0;
	}

.usa-grid .usa-width-five-sixths,.usa-grid-full .usa-width-five-sixths{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:82.52847%;
	}

.usa-grid .usa-width-five-sixths:last-child,.usa-grid-full .usa-width-five-sixths:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-twelfth,.usa-grid-full .usa-width-one-twelfth{
	float:left;
	display:block;
	margin-right:4.82916%;
	width:30.11389%;
	}

.usa-grid .usa-width-one-twelfth:last-child,.usa-grid-full .usa-width-one-twelfth:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-twelfth:nth-child(3n),.usa-grid-full .usa-width-one-twelfth:nth-child(3n){
	margin-right:0;
	}

}

@media screen and (min-width:1201px){
	.usa-grid .usa-width-one-whole,.usa-grid-full .usa-width-one-whole{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:100%;
	}

.usa-grid .usa-width-one-whole:last-child,.usa-grid-full .usa-width-one-whole:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-half,.usa-grid-full .usa-width-one-half{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:48.82117%;
	}

.usa-grid .usa-width-one-half:last-child,.usa-grid-full .usa-width-one-half:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-third,.usa-grid-full .usa-width-one-third{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:31.76157%;
	}

.usa-grid .usa-width-one-third:last-child,.usa-grid-full .usa-width-one-third:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-two-thirds,.usa-grid-full .usa-width-two-thirds{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:65.88078%;
	}

.usa-grid .usa-width-two-thirds:last-child,.usa-grid-full .usa-width-two-thirds:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-fourth,.usa-grid-full .usa-width-one-fourth{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:23.23176%;
	}

.usa-grid .usa-width-one-fourth:last-child,.usa-grid-full .usa-width-one-fourth:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-fourth:nth-child(2n),.usa-grid-full .usa-width-one-fourth:nth-child(2n){
	float:left;
	display:block;
	margin-right:2.35765%;
	width:23.23176%;
	}

.usa-grid .usa-width-one-fourth:nth-child(2n):last-child,.usa-grid-full .usa-width-one-fourth:nth-child(2n):last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-fourth:nth-child(4n),.usa-grid-full .usa-width-one-fourth:nth-child(4n){
	margin-right:0;
	}

.usa-grid .usa-width-three-fourths,.usa-grid-full .usa-width-three-fourths{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:74.41059%;
	}

.usa-grid .usa-width-three-fourths:last-child,.usa-grid-full .usa-width-three-fourths:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-sixth,.usa-grid-full .usa-width-one-sixth{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:14.70196%;
	}

.usa-grid .usa-width-one-sixth:last-child,.usa-grid-full .usa-width-one-sixth:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-sixth:nth-child(3n),.usa-grid-full .usa-width-one-sixth:nth-child(3n){
	float:left;
	display:block;
	margin-right:2.35765%;
	width:14.70196%;
	}

.usa-grid .usa-width-one-sixth:nth-child(3n):last-child,.usa-grid-full .usa-width-one-sixth:nth-child(3n):last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-sixth:nth-child(6n),.usa-grid-full .usa-width-one-sixth:nth-child(6n){
	margin-right:0;
	}

.usa-grid .usa-width-five-sixths,.usa-grid-full .usa-width-five-sixths{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:82.94039%;
	}

.usa-grid .usa-width-five-sixths:last-child,.usa-grid-full .usa-width-five-sixths:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-twelfth,.usa-grid-full .usa-width-one-twelfth{
	float:left;
	display:block;
	margin-right:2.35765%;
	width:6.17215%;
	}

.usa-grid .usa-width-one-twelfth:last-child,.usa-grid-full .usa-width-one-twelfth:last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-twelfth:nth-child(3n),.usa-grid-full .usa-width-one-twelfth:nth-child(3n){
	float:left;
	display:block;
	margin-right:2.35765%;
	width:6.17215%;
	}

.usa-grid .usa-width-one-twelfth:nth-child(3n):last-child,.usa-grid-full .usa-width-one-twelfth:nth-child(3n):last-child{
	margin-right:0;
	}

.usa-grid .usa-width-one-twelfth:nth-child(12n),.usa-grid-full .usa-width-one-twelfth:nth-child(12n){
	margin-right:0;
	}

}

.usa-grid .usa-end-row,.usa-grid-full .usa-end-row{
	margin-right:0;
	}

.usa-grid{
	padding:0 3rem;
	}

.usa-grid-full{
	padding:0;
	}
	
a.lex-font-standout,a.lex-font-standout:visited{
	color:#0057A8;
	text-decoration:underline;
	}

.lex-font-standout{
	color:#0057A8;
	}

.lex-section-heading{
	text-transform:uppercase;
	padding-top:0.5em;
	padding-bottom:0.5em;
	}	
	
.lex-heading{
	margin:0;
	font-weight:400;
	}
	
.usa-unstyled-list,.pager ul{
	margin:0;
	padding:0;
	list-style-type:none;
	}

.usa-unstyled-list li,.pager ul li{
	display:list-item;
	margin:0;
	}

.usa-unstyled-list li:before,.pager ul li:before{
	display:none;
	}

.usa-unstyled-list li:after,.pager ul li:after{
	display:none;
	}

.usa-footer .usa-unstyled-list,.usa-footer .pager ul,.pager .usa-footer ul{
	display:block;
	}
.lex-street-address{
	display:block;
	}
	
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	}

.fa.fa-pull-left{
	margin-right:.3em;
	}

.fa.fa-pull-right{
	margin-left:.3em;
	}

.fa-phone:before{

	}

.fa-twitter:before{

	}

.fa-facebook-f:before,.fa-facebook:before{

	}

.fa-twitter-square:before{

	}

.fa-facebook-square:before{

	}

.fa-facebook-official:before{

	}

.lex-sub-footer{
	padding-top:1.7em;
	padding-bottom:0.85em;
	}

.lex-seal{
	width:50px;
	}

.lex-horizontal-list li{
	display:inline-block;
	padding-right:1em;
	}	

	
	
	